.collectionMenu {
  background-color: #f1f3f1;
}
.collection-container {
  column-gap: 0;
  row-gap: 0;
  justify-content: left;
  flex-wrap: nowrap;
  padding: 0 8px;
  overflow: auto;
}
.collectionMenu a {
  margin: 4px 7px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.collectionMenu strong {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 500;
  display: block;
}
.collectionMenu img {
  width: 45px;
  height: 55px;
}

@media screen and (min-width: 750px) {
  .collection-container {
    justify-content: center;
  }
  .collectionMenu img {
    width: 50px;
    height: 50px;
  }
  .collectionMenu strong {
    font-size: 1.32rem;
  }
  .collectionMenu a {
    margin: 8px 15px;
  }
}