.compare-data { margin-bottom: 2.5rem; margin-left: auto; margin-right: auto; max-width: var(--page-width);  }
.compare-data-content { padding: 0 1.5rem; }
.compare-data-content img { width: 100%; border-radius: 100%; max-width: 120px; display: block; margin: 0 auto 5px; }
.compare-data-content table { width: 100%; box-shadow: none; }
.compare-data-content table td:nth-child(2n), .compare-data-content table th:nth-child(2n) { background: #F8F8F8; }
.compare-data-content thead td, .compare-data-content thead th { border: 0; vertical-align: middle; font-weight: 600; }
.compare-data-content tbody th { background: #f1f1f1; }
.compare-data-content tr:nth-child(1) th { border-radius: 8px 0 0; }
.compare-data-content tr:last-child th { border-radius: 0 0 0 8px; }
.compare-data-content td { font-weight: 500; }
.compare-data-content td, .compare-data-content th { padding: 0.9rem !important; border-width: 0 0 .1rem !important; border-color: #EBEBEB !important; }
.compare-data-content ol { margin: 0; padding-left: 0; list-style: none; }
.compare-data-content th { width: 120px; text-align: left; }
.compare-data-content a { text-decoration: none; color: #267E62;; position: relative; font-weight: 700; display: block; }
.compare-data-content a:after { content: ''; position: absolute; background: url(https://cdn.shopify.com/s/files/1/0677/8784/9965/files/link-icon.svg); width: 8px; height: 8px; right: 0; top: 0; background-size: contain; }
thead td { text-align: center; }
tbody td { font-size: 13px; letter-spacing: 0.1; }
.compare-data-content li:not(:last-child) { padding-bottom: 0.5rem; }
@media (max-width: 749px) {
  .compare-data-content { overflow: auto; }
  .compare-data { position: relative; }
  .compare-data:before { content: ''; position: absolute; height: 100%; width: 1.5rem; left: 0; top: 0; background: #fff; z-index: 1; }
  .compare-data-content th { width: 95px; font-size: 1.15rem; }
  .compare-data-content td { width: 140px; font-size: 1.1rem; }
  .compare-data-content img { max-width: 90px; }
  .compare-data-content thead th { background: #fff; }
  .compare-data-content th { position: sticky; left: 0; top: auto; margin-top: -1px; z-index: 2; }
}
@media (min-width: 900px) {
  .compare-data { max-width: 1200px; }
  .compare-data-content * { font-size: 1.5rem; }
  .compare-data-content a:after { height: 15px; width: 15px; }
  .compare-data h4 { font-size: 1.75rem; }
}
table.gheeCompare img { border-radius: 10px; }