.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}
@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
  div.media { padding-bottom: 25% !important; }
}
.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}
.article-template__hero-small {
  height: 11rem;
}
.article-template__hero-medium {
  height: 22rem;
}
.article-template__hero-large {
  height: 33rem;
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }
  .article-template__hero-medium {
    height: 44rem;
  }
  .article-template__hero-large {
    height: 66rem;
  }
}
@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }
  .article-template__hero-medium {
    height: 55rem;
  }
  .article-template__hero-large {
    height: 82.5rem;
  }
}
.article-template header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}
@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 3.2rem;
  }
  .article-template__hero-container .media {
    margin-top: 1.5rem;
    border-radius: 1.5rem 1.5rem 2.5rem;
  }
}
.article-template__title {
  margin: 0;
}
.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}
.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}
.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.article-template__social-sharing {
  margin-top: 2rem;
}
.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}
.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}
@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}
.article-template__comment-wrapper h2 {
  margin-top: 0;
}
.article-template__comments {
  margin-bottom: 5rem;
}
@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}
.article-template__comments-fields {
  margin-bottom: 4rem;
}
.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}
@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}
.article-template__comments-comment p {
  margin: 0 0 1rem;
}
.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

.article-template__social-sharing { display: flex; justify-content: space-between; }
.share-button__button { min-height: 1rem }
.article-template__social-sharing .caption-with-letter-spacing { font-size: 1.35rem; }
.article-template__social-sharing .caption-with-letter-spacing:before { content: ""; background: #eee; display: inline-grid; width: 14px; height: 14px; border-radius: 100%; vertical-align: bottom; }
.article-template__content li { list-style-position: outside; margin-bottom: 0.5rem }
.blog .title-wrapper-with-link { margin-bottom: 1.2rem; }
div .card .card__inner .card__media { border-radius: 0.75rem 0.75rem 2rem 0.75rem; }
.card__information { padding: 0 !important; }
h3.card_heading { padding-top: 0; margin: 1.5rem 0 0.5rem; }
.read-timer { margin: 0; }
div.slider-buttons { position: absolute; height: 0; opacity: 0; overflow: hidden; }

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}
.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}
@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}
.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
@media (max-width: 750px) {
  h1.article-template__title { font-size: calc(var(--font-heading-scale)* 1.8rem); }
}