.drawer {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 42rem;
  max-width: calc(100vw);
  padding: 0;
  border: 0;
  border-right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}

.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer__heading {
  margin: 0;
  text-transform: capitalize;
}
.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 2.4rem;
  min-height: 2.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 0.85rem;
  right: 5px;
  color: rgb(var(--color-foreground));
  background-color: #EEEEEE;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 1.2rem;
  width: 1.2rem;
  display: block;
  margin: auto;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: #eee;
  position: sticky;
  bottom: 0;
  z-index: 2;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 2.8rem 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items,
.cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow-y: auto;
  }
}

.cart-drawer .cart-item {
  display: flex;
  position: relative;
  padding: 0.9rem 1rem;
  margin-bottom: 0 !important;
    border-radius: 8px !important;
  overflow: hidden;
}
.cart-drawer .cart-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.cart-drawer .cart-item .loading__spinner {
  left: 20px;
  padding-top: 0.35rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
  margin: 0 !important;
  font-weight: 600;
}

.cart-drawer .tax-note {
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0 1.5rem;
  flex: 0 0 50%;
  margin-top: 0 !important;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
  flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(2)
    ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer
    #dynamic-checkout-cart
    ul
    > li:first-child:nth-last-child(4)
    ~ li {
    flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

.cart-drawer .quantity-popover-container {
  padding: 0;
}

.cart-drawer .quantity-popover__info.global-settings-popup {
  transform: translateY(0);
  right: 0;
}

.cart-drawer .cart-item__error {
  margin-top: 0.8rem;
}

.cart-drawer .quantity-popover__info + .cart-item__error {
  margin-top: 0.2rem;
}

@media screen and (min-width: 750px) {
  .cart-drawer .cart-item__quantity--info quantity-popover > * {
    padding-left: 0;
  }

  .cart-drawer .cart-item__error {
    margin-left: 0;
    position: absolute;
  }
}
.cart-item cart-remove-button {
  margin: 0;
  position: absolute;
  right: 0.4rem;
  top: 0.7rem;
  width: auto;
  height: auto;
}
.cart-draw_media {
  flex: 0 0 105px;
  margin-right: 1.75rem;
}
.cart-item__name {
  text-decoration: none !important;
  font-weight: 700;
  color: #235a49;
  font-size: 1.56rem;
}
div cart-remove-button .button {
  min-width: 2.4rem;
  min-height: 2.4rem;
}
.cartdraw-item-with-qty {
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.draw-anouncement {
  text-align: center;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  margin-bottom: 0.1rem;
  background-color: var(--theme-primy-color);
}
.draw-anouncement p {
  margin: 0;
  color: #fff;
}
.cart-item__image {
  display: block;
}
.bundle-product {
  margin: 0.25rem 0 0.6rem;
  padding: 0;
}
.bundle-product li {
  display: flex;
  font-size: 1.15rem;
  padding: 0.2rem 0 0.1rem 0.5rem;
  line-height: 1.05;
  align-items: center;
}
.cart-drawer .cart-item .bundle-product img {
  margin-right: 0.75rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.cartdraw-item--right {
  flex: 1;
  display: grid;
}
.pop_club_cart {
  margin: 0.6rem 0.75rem;
}
div .pop_club_cart #buy-with-pop-coins-label {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}
.totals__total-value {
  font-weight: 700;
  color: #222;
  display: block;
  line-height: 1;
}
.cart_tax_info {
  font-size: 1.25rem;
  display: block;
  line-height: 1;
}
.cart-drawer__footer small {
  font-size: 1.05rem;
}
.manual_class_cart__price_down {
  min-height: 20px;
}
.manual_class_cart__price_down p {
  margin: 0;
}
.cartdraw_page_popcoin {
  font-size: 1.25rem;
  padding-top: 2.5rem;
}
p.cart__login-title {
  margin: 2rem 0 0.5rem;
}
h2.cart__empty-text {
  margin: 2rem 0;
}
.btn-text {
  margin: auto;
}
div.cart__ctas {
  justify-content: space-between;
  text-align: left;
  background: #fff;
  padding: 1rem;
  display: flex;
}
div.cart__ctas div {
  align-self: center;
}
@media (min-width: 750px) {
  .cartdraw_page_popcoin {
    font-size: 1.4rem;
  }
}
#delightchat-widget {
  z-index: 99;
}

.draw-anouncement {
  margin-bottom: 0;
}
.cart-drawer .cart-items {
  padding: 0.75rem 0.75rem 0;
}
.cart-drawer .cart-item {
  background: #fff;
  padding: 0.8rem;
  margin-bottom: 0.75rem !important;
  border: 0 !important;
}
.cart-drawer .cart-item img {
  /* box-shadow: 0px 2px 4px 0px #00000040; */
  border-radius: 10px;
  overflow: hidden;
}
.cart-drawer quantity-popover button.quantity__button {
  background-color: #fff !important;
}
.cart-drawer quantity-popover quantity-input {
  background-color: #fff !important;
  min-height: calc((var(--inputs-border-width) * 2) + 2.8rem) !important;
  border: 1px solid #cbcbcb;
}

.recommended-product h3 {
  margin: 0.5rem 1rem 0.3rem;
  font-size: calc(var(--font-heading-scale) * 1.55rem);
}
ul.recommended-products {
  margin: 0;
  padding: 0.5rem 1rem;
  list-style: none;
  display: flex;
  overflow: auto;
}
ul.recommended-products li {
  flex: 0 0 80%;
  max-width: 250px;
  margin-right: 0.35rem;
}
.recommended--product figure {
  margin: 0;
}
.recommended--product.cart-item {
  margin-bottom: 0 !important;
  gap: 0.8rem;
}
.recommended--product > div {
  flex: 1;
}
.recommended--product img {
  max-width: 65px;
  height: auto;
}
.recommended--product h5 {
  margin: 0 0 0.75rem;
}
.button-with-price .quick-add {
  margin: 0;
}
.button-with-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.button-with-price .quick-add button {
  min-height: calc(2.2rem + var(--buttons-border-width) * 1.5);
  min-width: auto;
  font-size: 13px;
  padding: 0 1.5rem;
  border-radius: 15px;
  height: 24px;
}

.addons-head {
  background: #dfdfdf;
  color: #000;
  padding: 8px 12px;
  font-size: 1.1rem;
  margin-top: 5px;
}
.addons-head h4 {
  color: #000;
  margin: 0;
  font-size: 1.3rem;
}
.unlock {
  background: linear-gradient(270deg, #ff0f7b 0%, #f89b29 98.5%);
  color: #fff;
}
.unlock h4 {
  color: #fff;
}
.view-rewords svg {
  width: 23px;
  transform: rotate(-90deg);
}
.addons-products .recommended--product > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addons-products .recommended--product img {
  display: block;
}
.button-with-price s {
  font-size: 0.75em;
  opacity: 0.7;
  margin-right: 2px;
  vertical-align: baseline;
}
@media (max-width: 749px) {
  .addons-products::-webkit-scrollbar,
  .recommended-products::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
/* Cart Rewords */
.cart-rewards {
  padding: 1rem;
  background: #00584b;
  position: relative;
}
.cart-rewards > div {
  position: relative;
}
.cart-rewards img {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  object-fit: cover;
  object-position: top;
}
.cart-rewards-message {
  text-align: center;
  color: #fff;
}
.cart-rewards-bar-background {
  background: #b0d5cf;
  border-radius: 10px;
  height: 5px;
  margin-top: 22.5px;
  overflow: hidden;
  width: 100%;
}
.rewards-bar-foreground {
  background-color: #fff;
  height: inherit;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  display: inherit !important;
}
.cart-rewards-tiers {
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}
.rewards-tier-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  width: 30px;
  font-size: 1.05rem;
}
.rewards-tier-icon svg {
  width: 30px;
  background: #b0d5cf;
  border-radius: 100%;
  padding: 4px;
}
.active_01 .rewards-tier-icon:nth-child(2) svg,
.active_02 .rewards-tier-icon:not(:last-child) svg,
.active_03 .rewards-tier-icon svg {
  background: #fff;
  fill: #00584b;
}

.cart-drawer__footer {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 -1px 2px #e9e9e9;
}
.cart-drawer__footer > div {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.btm-line {
  border-bottom: #ccc solid 1px;
  padding-bottom: 5px;
}
.cart-drawer__footer > * + * {
  margin-top: 5px;
}
.cart-drawer .cart__checkout-button {
  flex: 1;
}

.manual_class_cart__price_down {
  display: none !important;
}
.save-announce {
  background: #235a49;
  color: #fff;
  padding: 10px;
  justify-content: center !important;
  border-radius: 3px;
  box-shadow: -4px 2.5px 0 0 #33836a;
  margin-left: 5px;
  font-weight: 700;
}
.save-announce img {
  width: 16px;
  margin-right: 6px;
}
.active-scroll {
  overflow: auto;
}
.totals__total-value .icon-caret {
  transition: all 0.75s 0.25s;
  transform: rotate(0deg);
}
.totals__total-value.actSummary .icon-caret {
  transform: rotate(180deg);
}
@media screen and (min-width: 750px) {
  .active-scroll::-webkit-scrollbar{width:4px;height:4px;background-color:#69ada3}
  .active-scroll::-webkit-scrollbar-thumb{background:#00584b}
}