.variant-with-price-outer {
  border: solid 1px #00584b;
  width: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: left;
}
.variant-with-price-outer .variant-title {
  background-color: #00584b;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  border-radius: 0.4rem 0.4rem 0 0;
}
.variant-price {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.5rem;
}
.variant-with-price-outer .variant-title,
.variant-with-price-outer .variant-price {
  padding: 0.8rem 1.5rem;
}
.variant-with-price-outer {
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
  color: #222;
}
.variant-with-price-outer s {
  opacity: 0.7;
  font-size: 0.75em;
}
.variant-with-price-outer i {
  font-style: normal;
  color: #f04438;
  font-size: 0.75em;
}
@media (max-width: 750px) {
  .variant-with-price-outer i {
    font-size: 0.65em;
  }
}
.variant-with-price-outer .variant-title {
  display: flex;
}
.variant-with-price-outer .light-time-tracker {
  font-size: 1.25rem; margin-left: 7px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.variant-with-price-outer .light-time-tracker svg {
  animation: blink 1s step-start 0s infinite;
}