<div style="display:flex; justify-content:center; align-items:center; height:70vh; text-align:center;">
&nbsp; <h1 style="font-size:3rem; font-weight:700; color:#00584b; margin:0;">
&nbsp; &nbsp; Coming Soon
&nbsp; </h1>
</div>
